$body-bg: whitesmoke;
$main-bg: #fff;
$border-color: #000;
$shadow-color: rgba(136, 136, 136, 0.5);
$header-color: #226699;
$link-color: royalblue;
$link-hover: #d08504;
$remove-button: orangered;
$font-color: #000;
$inverse-font-color: #fff;
$go-button: limegreen;
