@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}
